body {
  margin: 0;
  font-family: 'raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FDF5F1;
}

* {
  box-sizing: border-box;
}